.logo {
  position: absolute;
  left: 50%;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.625em;
  line-height: 1.3;
  color: #37447e;
  text-decoration: none;
  margin-left: -32px;
}
